apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: default
spec:
  ports:
  - port: {{ app_service_port }}
    protocol: TCP
    targetPort: {{ app_port }}
  selector:
    app: {{ app_name }}