apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ app_name }}
  namespace: default
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: {{ app_name }}
    spec:
      containers:
      - name: {{ app_name }}
        image: {{ app_maintainer }}/{{ app_name }}:{{ app_tag }}
        env:
        - name: AUTHOR
          value: {{ app_maintainer_email }}
        ports:
        - containerPort: {{ app_port }}